.Main
{	
	text-align: center;
	margin-top: 8%;
	
	font-family: Arial,sans-serif;
	
}

.button{
	padding: 5px 12px;
	background-color: #f2f2f2;
	color: #757575;
	font-weight: bold;
	box-shadow: none;
}

.button:hover{
	background-color: white;
	color:black;
}

.navbar{
	
	
	display: block;
	
	font-weight: 100;
	font-family: Arial,sans-serif;
	
}

.navbar ul{
	float: right;
}

.navbar li{
	display: inline;
	list-style-type: none;
	margin: 0 .7em;
	
}

#sign{
	padding: 5px 12px;
	background-color: #4285f4;
	color: white;

}


.Footer{
	
	word-spacing: 20px;
	background-color: rgb(242,242,242);
	position: fixed;
	bottom: 0;
	width: 100%;

}

.Footer li{
	
	list-style-type: none;
	display: inline;
	font-family: Arial,sans-serif;
	font-weight: lighter;
}

.Footer ul{
	display: inline;
}


#llink{
	float: left;
	display: inline-block;
}
#rlink {
	float: right;
	display: inline-block;
	padding-right: 3%;
}